.table-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: right;
}

.item {
  margin: 0 5px !important;
}

.search-form {
  margin-left: auto;
}

.paper-styles {
  margin-top: 50px;
}
.table-label-styles {
  padding: 10px !important;
}
.error-message {
  text-align: center;
}
